@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
:root {
  --fontFamily: "Inclusive Sans", sans-serif;
  --bcolor: #191919;
  --colorLetra: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--bcolor);
  color: var(--colorLetra);
  font-family: var(--fontFamily);
}
li,
a {
  text-decoration: none;
  list-style-type: none;
}
