@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
:root {
  --fontFamily: "Inclusive Sans", sans-serif;
  --bcolor: #191919;
  --colorLetra: #fff;
  --botonColor: #f4dc26f3;
  --botonHover: #fde742;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--bcolor);
  color: var(--colorLetra);
  font-family: var(--fontFamily);
  font-size: 14px;
  width: 100vw;
  height: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.63),
    rgba(0, 0, 0, 0.486)
  ),
  url(/images/pokemon-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
li,
a {
  text-decoration: none;
  list-style-type: none;
}

button {
  width: auto;
  height: auto;
  padding: 15px;
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  background-color: var(--botonColor);
  border-radius: 16px;
  box-shadow: 7px 6px 16px -4px rgba(0, 0, 0, 0.75);
  border: none;
  transition: 0.5s all;
}
button:hover {
  box-shadow: 0px 0px 37px -10px #f4dc26;
}
main {
  height: calc(90vh - 65px);
}
.contenedor-hero {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.contenedor-hero h1 {
  font-size: 4.2rem;
}
.contenedor-hero p {
  font-size: 1.8rem;
}

/* Estilos de los slide*/

.slide {
  width: 100vw;
  height: auto;
  color: #000;
}
.contenedor-pokemons {
  width: 100%;
  padding: 55px;
  background: #00000067;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor-pokemon {
  text-align: center;
  width: 200px;
  font-size: 1rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 36px;
}
.contenedor-pokemon h3{
  width: 100%;
  padding: 0 15px;
}
.contenedor-img{
  width: 90%;
  align-self: center;
}
.contenedor-pokemon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.788)); 
}
